/* fieldset {
    color: rgb(245, 241, 0);
    border-style: double;
    border-color: aquamarine;
} */

h6 {
    font-size: 4em;
}

h4 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 200px;
    padding: 100pxs;
}

.cake h4 {
    position: absolute;
    transform: translate (-50%, -50%);
    font-size: 20px;
}

.cake h4:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px blue;
}

.cake h4:nth-child(2) {
    color: pink;
    animation: animate 2s ease-in-out infinite;
}